<table style="width: 100%; padding: 10px; background-color: rgba(104,131,193,0.5); box-sizing: border-box">
    <tr>
        <td style="font-size: 14px; text-align: center;">
            Serhii Shkolnyi - Copyright © 2023
        </td>
    </tr>
</table>