<table style="width: 100%; padding: 5px; background-color: rgba(104,131,193,0.5); box-sizing: border-box">
    <tr>
        <td style="font-size: 20px; text-align: left;">
            <b>Node-express</b>
        </td>
        <td style="text-align: right;">
            <b>Serhii - Shkolnyi</b>
        </td>
    </tr>
</table>