<table style="width: 100%; padding: 35px; box-sizing: border-box">
    <tr>
        <td style="font-size: 20px; text-align: center;">
            {{userName}}, Welcome on our platform!
        </td>
    </tr>
</table>